@page "/addsprinkler"

@using Data;
@using Services;

@inject DialogService dialogService
@inject NotificationService notificationService
@inject SprinklerService sprinklerService
@inject IStringLocalizer<AddSprinkleDialog> L

<RadzenCard Style="margin-bottom: 20px;">
    <div class="row">
        <div class="col-md-6">
            <div>@L["Desc"]</div>
            <RadzenTextBox @bind-Value="@desc" Style="margin-bottom: 20px" Change="@(args => Change())" />
            <div>@L["GpioPin"]</div>
            <RadzenNumeric @bind-Value="@gpioPin" TValue="int" Style="margin-bottom: 20px" Change="@(args => Change())" />
        </div>
    </div>
</RadzenCard>
<div class="row">
    <div class="col-md-12">
        <RadzenButton Click="@((args) => Accept())" Text="@L["Ok"]" Style="margin-bottom: 10px; width: 150px" />
        <RadzenButton Click="@((args) => dialogService.Close(false))" ButtonStyle="ButtonStyle.Secondary" Text="@L["Cancel"]" Style="margin-bottom: 10px; width: 150px" />
    </div>
</div>

@code {

    string desc = string.Empty;
    int gpioPin = 0;
    int popupDurationMs = 10000;

    protected override void OnInitialized()
    {
    }

    void Change()
    {
        StateHasChanged();
    }

    void Accept()
    {
        if (desc == string.Empty)
        {
            ShowNotification(new NotificationMessage() { Severity = NotificationSeverity.Error, Summary = L["Error"], Detail = L["NoDesc"], Duration = popupDurationMs });
            return;
        }

        if (gpioPin <= 0 || gpioPin >= 28)
        {
            ShowNotification(new NotificationMessage() { Severity = NotificationSeverity.Error, Summary = L["Error"], Detail = L["NoGpioPin"], Duration = popupDurationMs });
            return;
        }

        if (sprinklerService.Sprinklers.Find(x => x.GpioPin == gpioPin) != null)
        {
            ShowNotification(new NotificationMessage() { Severity = NotificationSeverity.Error, Summary = L["Error"], Detail = L["GpioPinTaken"], Duration = popupDurationMs });
            return;
        }

        sprinklerService.AddSprinkler(new SprinklerData(gpioPin)
        {
            Description = desc
        });

        dialogService.Close(true);
    }

    async Task ShowNotification(NotificationMessage message)
    {
        notificationService.Notify(message);
        await InvokeAsync(() => { StateHasChanged(); });
    }
}