@page "/modsprinkler/{SprinklerId}"

@using Data;
@using Services;

@inject DialogService dialogService
@inject NotificationService notificationService
@inject SprinklerService sprinklerService


<RadzenCard Style="margin-bottom: 20px; height: 375px;">
    <div class="row" style="height:85%">pecirecovery
        <div class="col-md-6">
            <div>Opis:</div>
            <b>@sprinkler.Description</b>
            <br />
            <br />
            <div>Pin GPIO:</div>
            <b>@sprinkler.GpioPin</b>
            <br />
            <br />
            <div>Godzina:</div>
            <RadzenDatePicker @bind-Value="sprinkleTime" TValue="DateTime" ShowTime="true" TimeOnly="true" ShowSeconds="true" DateFormat="HH:mm:ss" Change="@(args => Change())" />
            <div>Czas(w minutach):</div>
            <RadzenNumeric @bind-Value="sprinkleLength" TValue="uint" Max="60" Min="1" Step="5" Style="margin-bottom: 20px" Change="@(args => Change())" />
            <!-- buttons -->
<<<<<<< Updated upstream
            <RadzenButton Click="@(args => Add())" Text="Add" Style="margin-top: 20px; width: 125px" />
            <RadzenButton Click="@(args => DeleteSelected())" Text="Delete" Style="margin-top: 20px; width: 125px" />
=======
            <RadzenButton Click="@(args => Add())" Text="@L["Add"]" Style="margin-top: 20px; width: 125px" />
            <RadzenButton ButtonStyle="ButtonStyle.Warning" Click="@(args => DeleteSelected())" Text="@L["Del"]" Style="margin-top: 20px; width: 125px" />
>>>>>>> Stashed changes
        </div>
        <div class="col-md-6">
            @if (sprinkler.SprinkleTimeList.Any())
            {
                <RadzenGrid RowSelect="@((args) => ChangeSelectedRow(args))" AllowFiltering="false" AllowPaging="false" AllowSorting="false" Data="@sprinkler.SprinkleTimeList" TItem="SprinklerDateTime" Style="margin-bottom: 20px;height:100%;width:100%;">
                    <Columns>
                        <RadzenGridColumn Width="70px" TItem="SprinklerDateTime" Property="ParsedDateTime" Title="@L["Time"]" />
                        <RadzenGridColumn Width="150px" TItem="SprinklerDateTime" Property="WateringDuration" Title="@L["Duration"]" />
                    </Columns>
                </RadzenGrid>
            }
            else
            {
                <b style="color:red">No sprinkles defined</b>
            }
        </div>
    </div>
</RadzenCard>
<div class="row">
    <div class="col-md-12">
        <RadzenButton Click="@((args) => dialogService.Close(true))" Text="OK" Style="margin-bottom: 10px; width: 150px" />
    </div>
</div>

@code {
    [Parameter] public ulong SprinklerId { get; set; }

    int popupDurationMs = 10000;

    Sprinkler sprinkler;
    uint sprinkleLength;
    DateTime sprinkleTime;
    SprinklerDateTime selectedRow;

    protected override void OnInitialized()
    {
        sprinkler = sprinklerService.Sprinklers.Find(spr => spr.Id == SprinklerId);
    }

    void Change()
    {
        StateHasChanged();
    }

    void ChangeSelectedRow(SprinklerDateTime dateTime)
    {
        selectedRow = dateTime;
        StateHasChanged();
    }

    void DeleteSelected()
    {
        if (selectedRow == null)
        {
            ShowNotification(new NotificationMessage() { Severity = NotificationSeverity.Warning, Summary = "Uwaga!", Detail = "Brak elementow do usuniecia. Sprawdz czy zostaly zaznaczone elementy do usuniecia z listy obok.", Duration = popupDurationMs });
            return;
        }

        sprinklerService.DeleteSprinkleTime(sprinkler, selectedRow);
        selectedRow = null;
        sprinkler = sprinklerService.Sprinklers.Find(spr => spr.Id == SprinklerId);

<<<<<<< Updated upstream
        ShowNotification(new NotificationMessage() { Severity = NotificationSeverity.Success, Summary = "Sukces!", Detail = "Element zostal usuniety!", Duration = popupDurationMs });
        multipleValues = new List<string>();

=======
        ShowNotification(new NotificationMessage() { Severity = NotificationSeverity.Success, Summary = L["Success"], Detail = L["DelSuccess"], Duration = popupDurationMs });
>>>>>>> Stashed changes
        StateHasChanged();
    }

    void Add()
    {
        if (sprinkleLength != null
            && sprinkleLength > 1
            && sprinkleTime != null
            && sprinkleTime.Ticks > 0)
        {
            if (sprinkler.SprinkleTimeList.Find(x => x.ParsedDateTime == sprinkleTime.ToString("HH:mm:ss")) != null)
            {
                ShowNotification(new NotificationMessage() { Severity = NotificationSeverity.Warning, Summary = L["Warn"], Detail = L["AlreadyExists"], Duration = popupDurationMs });
                return;
            }
            else
            {
<<<<<<< Updated upstream
                ShowNotification(new NotificationMessage() { Severity = NotificationSeverity.Warning, Summary = "Uwaga!", Detail = "Taki wpis juz istnieje! Nie mozesz dodac takiego samego czasu kilkukrotnie.", Duration = popupDurationMs });
                return;
=======
                sprinklerService.AddSprinkleTime(sprinkler, (DateTime)sprinkleTime, (uint)sprinkleLength);
>>>>>>> Stashed changes
            }
        }
        else
        {
            ShowNotification(new NotificationMessage() { Severity = NotificationSeverity.Error, Summary = "Blad!", Detail = "Czas nie zostal podany! Sprawdz czy podales(as) czas i dlugosc zraszania.", Duration = popupDurationMs });
            return;
        }

<<<<<<< Updated upstream
        ShowNotification(new NotificationMessage() { Severity = NotificationSeverity.Success, Summary = "Sukces!\n", Detail = "Nowy czas zostal dodany", Duration = popupDurationMs });

=======
        ShowNotification(new NotificationMessage() { Severity = NotificationSeverity.Success, Summary = L["Success"], Detail = L["TimeAdded"], Duration = popupDurationMs });
        
        sprinkler = sprinklerService.Sprinklers.Find(spr => spr.Id == SprinklerId);
>>>>>>> Stashed changes
        StateHasChanged();
    }

    async Task ShowNotification(NotificationMessage message)
    {
        notificationService.Notify(message);
        await InvokeAsync(() => { StateHasChanged(); });
    }
}